body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    background-color: #007BFF; /* Blue background color */
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

#survey-form, #survey-results {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 70%; /* Adjust the maximum width */
}

form {
    display: block;
    margin: 20px auto;
    max-width: 400px; /* Adjust the maximum width */
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="radio"] {
    width: 100%; /* Make the input fields 100% width */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%; /* Make the textarea 100% width */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%; /* Make the button 100% width */
    padding: 10px;
    background-color: #007BFF; /* Blue background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#survey-results h2 {
    margin-top: 20px; /* Adjust margin-top as needed */
}

#survey-results p {
    margin-top: 10px;
    font-weight: bold;
}

ul {
    list-style-type: none; /* Remove bullet points from lists */
    padding: 0;
}

li {
    margin-bottom: 5px;
}
